#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 3px solid black;
  background-color: grey;
  width: 100vw;
  height: 100vh;
}
.email, .password, .button{
  margin-bottom: 10px;
}

