/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 3px solid black;
  background-color: rgb(14, 141, 184);
  width: 100vw;
  height: 100vh;
} */
.email,
.password,
.button,
.name {
  margin-bottom: 10px;
}
#journalEntry {
  width: 100vw;
  height: 100vh;
  position: relative;
  border: 3px solid black;
  background-color: aquamarine;
  border-radius: 10px;
  padding: 20px;
}

.loginForm,
.signUpForm {
  border: 3px solid black;
  background-color: paleturquoise;
  /* width: 100vw;
  height: 100vh; */
  text-align: center;
}
.label {
  margin-left: 10px;
}
.form_Selected {
  color: red;
  height: 500px;
  width: 1000px;
  padding: 20px 0;
  display: flex;
  position: relative;
  transition: all 0.5s ease-in-out;
  left: 0px;
}

.form_Selected2 {
  color: greenyellow;
}

.loginForm2{
display:none
}