body {
  background-image: linear-gradient(
    to right,
    rgb(193, 89, 115),
    rgb(192, 142, 142),
    rgb(159, 110, 149)
  );
}
.email,
.password,
.button,
.name {
  margin-bottom: 10px;
}
#journalEntry {
  width: 7vw;
  height: 35vh;
  position: relative;
  border: 3px solid black;
  background-color: rgb(130, 188, 208);
  border-radius: 10px;
  padding: 20px;
  font-size: 20pt;
}

.loginForm,
.signUpForm {
  border: 3px solid black;
  background-image: linear-gradient(
    to right,
    rgb(193, 89, 115),
    rgb(158, 215, 120),
    rgb(63, 94, 51)
  );
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 10px;
}
.label {
  margin-left: 10px;
}

h3 {
  color: rgb(78, 94, 236);
  text-align: center;
  font-size: 35pt;
  font-style: italic;
}
.unwind {
  width: 100vw;
  height: 100vh;
}
.beach-img {
  padding-top: 20px;
  width: 50vw;
  height: 50vh;
}
.userForm {
  padding-top: 20px;
  display: flex;
  width: 100%;
  height: 50vh;
}
.homePage {
  width: 75vw;
  height: 75vh;
  display: grid;
  margin-top:20px
}
.feelingDropdown {
  background-color: rgb(177, 163, 125);
  border-radius: 15px;
}
p {
  font-size: 25pt;
}
.abtImages {
  height: 25vh;
  width: 25vw;
}

.journalName {
  margin-bottom: 30px;
}
.btnJournal{
  margin-top:20px
}
.labelUnwind{
  font-size: 15pt;
  background-image: linear-gradient(rgb(67, 130, 128),
    rgb(158, 215, 120));
    font-style: italic;
}