.nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  color: black
}

.navbar-center {
  display: flex;
  justify-content: center;
  /* background-color: rgb(168, 134, 86); */
  height: 75px;
  font-size: 20pt;
  color: black;
  padding-top: 25px
}

li {
  margin-right: 5rem;
}


